@charset "UTF-8";

.app-grid-content
{
  display:grid; grid-template-areas: "header main"; grid-template-columns: var(--menu-app-desktop) auto; height:100vh;
}


@keyframes animationHeader {
  from  { opacity:0.3;  }
  to    { opacity:1; ;
}
