@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.app-header
{
  background-image:url('../_image/header-bach.jpg');
}
.app-header-content
{
  grid-area:header; height:100vh; display:flex; flex-direction:column; background:#8844EE; background:linear-gradient(to top, #B07DFB, #8844ee);
  background: -moz-linear-gradient(to top, #B07DFB, #8844ee); background:-webkit-linear-gradient(to top, #B07DFB, #8844ee);
  background:-o-linear-gradient(to top, #B07DFB, #8844ee); opacity:0.9;
}
.header-area-myProfile
{
  width:100%; height:200px; padding:20px; box-sizing:border-box; display:flex; flex-direction: column; justify-content:center; align-items: center;
}
.header-area-myProfile .myProfile
{
  width:7rem; height:7rem; border-radius:50%; box-shadow:0px 0px 8px rgba(0,0,0,0.3); border:2px solid #AC77F9;
}
.myProfile
{
  display:flex; justify-content: center;
}
.myProfile + .profile-self
{
  display:none;
}
.menu
{
  display:flex; flex-direction: column; align-items: center;
}
.nav-menu .menu li
{
 width:100%; text-align:center; box-sizing: border-box; display:flex; justify-content: center;
}
.nav-menu .menu li a
{
  width:calc(100% - 20%) !important; color:#fff; display:block; box-sizing: border-box; padding:8px;  font-family:'Rubik', sans-serif;
  transition:background 0.3s linear; border-radius:5px; display:flex; align-items:center;
}
.nav-menu .menu li a:hover
{
  background-color:rgba(255, 255, 255, 0.2);  font-family: 'Rubik', sans-serif;
}
.menu-icone
{
  margin-right: 20px; width: 25px; height: 25px; fill: #fff;
}
