@charset "UTF-8";



html
{
  scroll-behavior: smooth;
}

body
{
  margin:0px; padding:0px; font-family:'Quicksand', sans-serif; color:#fff;
}

a
{
  text-decoration:none;
}

p
{
  margin:0px; padding:0px;
}

h1, h2, h3, h4, h5, h6
{
  margin:0px; padding:0px;
}
ul
{
  list-style: none; padding:0px; margin:0px;
}
